<div class="body">
  <div class="container">
    <div class="form-container">
      <form action="#">
        <h1>Crear cuentas</h1>
        <span>Use tu correo electronico para su registracion</span>
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="newUserMail"
          [ngModelOptions]="{ standalone: true }"
        />
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="newUserPWD"
          [ngModelOptions]="{ standalone: true }"
        />

        @if (loggedUser != ""){
        <h2 class="text-center text-primary">
          Usuario registrado: {{ loggedUser }}
        </h2>
        } @if(flagError){
        <p class="text-center text-primary">{{ msjError }}</p>
        }
        <button (click)="signUp($event)">Registrarse</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel">
          <h1>Bienvendio de nuevo!</h1>
          <p>
            Para mantenerse conectado con nosotros, inicie sesión con su
            información personal
          </p>
          <button class="ghost" id="signIn" (click)="goTo('login')">
            Iniciar sesion
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
