<div class="body">
  <div class="container" id="container">
    <div class="form-container">
      <form action="#">
        <h1>Iniciar sesion</h1>
        <span>Use su cuenta</span>
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="userMail"
          [ngModelOptions]="{ standalone: true }"
        />
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="userPWD"
          [ngModelOptions]="{ standalone: true }"
        />
        @if (loggedUser != ""){
        <h2 class="text-center text-primary">
          Usuario registrado: {{ loggedUser }}
        </h2>
        } @if(flagError){
        <p class="text-center text-primary">{{ msjError }}</p>
        }
        <button (click)="login($event)">Iniciar sesion</button>
        <button class="btn-auto-complete" (click)="autoComplete($event)">
          Auto Completado
        </button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Holaaa, Broo!</h1>
          <p>
            Introduce tus datos personales y comienza tu viaje con nosotros.
          </p>
          <button class="ghost" id="signUp" (click)="goTo('register')">
            Registrarse
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
