<div class="chat-container">
  <div class="messages-container">
    <div
      *ngFor="let message of messages; let i = index"
      [class]="isMessageFromCurrentUser(message) ? 'messages' : 'hola'"
    >
      <div class="message-content">
        <div
          [class]="
            isMessageFromCurrentUser(message) ? 'message-me' : 'message-from'
          "
        >
          @if(!isMessageFromCurrentUser(message)){
          <div class="user-name">
            {{ message.user }}
          </div>
          }
          <div>
            {{ message.message }}
          </div>
        </div>

        <div class="date">
          {{ message.date }}
        </div>
      </div>
    </div>
  </div>
  <mat-form-field appearance="fill" class="centered-input">
    <input
      matInput
      placeholder="Escribe un mensaje"
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
    />
  </mat-form-field>
</div>
