<nav class="navbar">
  <div class="navbar-logo">
    <img src="assets/images/logo.png" alt="Logo de la aplicación" />
  </div>
  <div>
    <button (click)="handleClickGoToHome()" color="warn" mat-button>
      Inicio
    </button>
    <button (click)="handleClickGoToChat()" color="warn" mat-button>
      Chat
    </button>
    <button (click)="handleClickGoToAboutMe()" color="warn" mat-button>
      Quién Soy
    </button>
  </div>
  <div>
    <button (click)="handleLogout()" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</nav>
