<body>
  <div class="container">
    <div class="profile-header">
      <img
        src="../../../assets/images/IMG_20220905_004807_029.jpg"
        alt="placeholder"
      />
      <div>
        <h1>Bartoncello Ricardo Jose</h1>
        <h3>Frontend Mobile Developer</h3>
      </div>
    </div>
    <div class="profile-content">
      <p>
        Soy desarrollador frontend de aplicaciones móviles para MobileComputing,
        donde estamos desarrollando una billetera digital para clientes de
        Nicaragua.
      </p>
      <p>
        También trabajé en el INDEC, donde creé aplicaciones móviles intuitivas
        y responsivas utilizando React/React Native, Redux/Sagas, TypeScript y
        RN Elements. Contribuí a proyectos como el Censo Nacional y el IPC,
        mejorando la recopilación y visualización de datos para el público y el
        gobierno.
      </p>
    </div>
  </div>
</body>
